.Codemirror-hints {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8);
  /* Text */ }
  .Codemirror-hints ul li {
    color: white; }
    .Codemirror-hints ul li em {
      font-weight: bold;
      color: inherit; }
    .Codemirror-hints ul li.selected {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #12355c), color-stop(50%, #185282), color-stop(51%, #134979), color-stop(100%, #1e5daa));
      color: white; }
      .Codemirror-hints ul li.selected em {
        font-weight: bold;
        color: inherit; }
    .Codemirror-hints ul li:hover {
      background: #333;
      color: black; }
      .Codemirror-hints ul li:hover em {
        color: inherit; }
