/* CodeMirror Theming */
.cm-s-june-night {
  background: #303333;
  color: white; }
  .cm-s-june-night span {
    /* Unorthodox styles */ }
    .cm-s-june-night span.cm-keyword {
      color: #aaa;
      font-weight: bold; }
    .cm-s-june-night span.cm-atom {
      color: #bfebbf; }
    .cm-s-june-night span.cm-number {
      color: #DCDCCC; }
    .cm-s-june-night span.cm-def {
      color: #DCDCCC;
      font-weight: bold; }
    .cm-s-june-night span.cm-variable {
      color: #aee; }
    .cm-s-june-night span.cm-variable-2 {
      color: #eec; }
    .cm-s-june-night span.cm-variable-3 {
      color: #fff; }
    .cm-s-june-night span.cm-property {
      color: white; }
    .cm-s-june-night span.cm-operator {
      color: #F0EFD0; }
    .cm-s-june-night span.cm-comment {
      color: #7F9F7F;
      font-style: italic; }
    .cm-s-june-night span.cm-string {
      color: #CC9393; }
    .cm-s-june-night span.cm-string-2 {
      color: #cc9393; }
    .cm-s-june-night span.cm-meta {
      color: #F0DFAF;
      font-weight: bold; }
    .cm-s-june-night span.cm-error {
      color: #f99;
      background: #633; }
    .cm-s-june-night span.cm-qualifier {
      color: #7cb8bb; }
    .cm-s-june-night span.cm-builtin {
      color: #DCDCCC; }
    .cm-s-june-night span.cm-bracket {
      color: #997; }
    .cm-s-june-night span.cm-tag {
      color: #93e0e3; }
    .cm-s-june-night span.cm-attribute {
      color: #DFAF8F; }
    .cm-s-june-night span.cm-header {
      color: #FFCC99; }
    .cm-s-june-night span.cm-quote {
      color: #090; }
    .cm-s-june-night span.cm-hr {
      color: #999; }
    .cm-s-june-night span.cm-link {
      color: #FFCC99; }
    .cm-s-june-night span.cm-symbol {
      color: #fff; }
    .cm-s-june-night span.cm-searching {
      background: none;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 2px; }
    .cm-s-june-night span.cm-searching.searching-current {
      background: #ffff96;
      border: none;
      padding: 1px;
      color: black !important; }
    .cm-s-june-night span.cm-fade {
      font-weight: normal;
      color: #777; }
  .cm-s-june-night div.CodeMirror-cursor {
    /* Override the skin setting */
    border-left: 1px solid white !important; }
  .cm-s-june-night .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important; }
  .cm-s-june-night .CodeMirror-nonmatchingbracket {
    color: #f99;
    background: #900; }
  .cm-s-june-night .CodeMirror-gutter {
    background: #272727 !important;
    border-right: 1px solid #000; }
  .cm-s-june-night .CodeMirror-selected {
    background: rgba(255, 255, 255, 0.07); }

/* Light Table stuff */
.cm-s-june-night .inline-result, .cm-s-june-night .underline-result > pre {
  background: #404444;
  color: #DCDCCC;
  border: 1px solid #222222;
  box-shadow: 1px 1px 0px #222222;
  -webkit-border-radius: 5px; }
.cm-s-june-night .inline-doc pre {
  color: #DCDCCC; }
.cm-s-june-night .inline-exception > pre, .cm-s-june-night .inline-exception > div {
  display: inline-block;
  background: #633;
  color: #dee;
  padding: 5px 10px 5px 10px;
  border: 1px solid #440000;
  box-shadow: 1px 1px 0px #440000;
  -webkit-border-radius: 5px; }
  .cm-s-june-night .inline-exception > pre a, .cm-s-june-night .inline-exception > div a {
    color: #Ddd; }
    .cm-s-june-night .inline-exception > pre a:hover, .cm-s-june-night .inline-exception > div a:hover {
      text-decoration: underline; }
.cm-s-june-night .inline-doc {
  background: #404444; }
.cm-s-june-night .inline-doc > pre, .cm-s-june-night .underline-result > pre {
  color: #DCDCCC !important; }

/* Semantic Highlighting */
.cm-s-june-night span {
  /*     &.cm-variable, &.cm-variable-2, &.cm-def { */
  /*     } */ }
  .cm-s-june-night span.cm-hash-0 {
    color: #E2E2E2; }
  .cm-s-june-night span.cm-hash-1 {
    color: #A1FFF7; }
  .cm-s-june-night span.cm-hash-2 {
    color: #FFD4FF; }
  .cm-s-june-night span.cm-hash-3 {
    color: #F6FEC3; }
  .cm-s-june-night span.cm-hash-4 {
    color: #FFD6B3; }
  .cm-s-june-night span.cm-hash-5 {
    color: #B7E9FF; }
  .cm-s-june-night span.cm-hash-6 {
    color: #FFDBDC; }
  .cm-s-june-night span.cm-hash-7 {
    color: #B6F0C6; }
  .cm-s-june-night span.cm-hash-8 {
    color: #E5FFF7; }
  .cm-s-june-night span.cm-hash-9 {
    color: #D2E0FF; }
  .cm-s-june-night span.cm-hash-10 {
    color: #FFF3D9; }
  .cm-s-june-night span.cm-hash-11 {
    color: #F6EBFF; }
  .cm-s-june-night span.cm-hash-12 {
    color: #F3E2A9; }
  .cm-s-june-night span.cm-hash-13 {
    color: #D6E8CC; }
  .cm-s-june-night span.cm-hash-14 {
    color: #FFEBDF; }
  .cm-s-june-night span.cm-hash-15 {
    color: #E2F5FF; }
  .cm-s-june-night span.cm-hash-16 {
    color: #95F1FF; }
  .cm-s-june-night span.cm-hash-17 {
    color: #FAFFF6; }
  .cm-s-june-night span.cm-hash-18 {
    color: #C1F1E0; }
  .cm-s-june-night span.cm-hash-19 {
    color: #FFD1C0; }
