div.Codemirror-hints {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8);

  /* Text */
  ul li {
    color: white;

    em {
      font-weight: bold;
      color: inherit;
    }

    &.selected {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(18,53,92,1)), color-stop(50%,rgba(24,82,130,1)), color-stop(51%,rgba(19,73,121,1)), color-stop(100%,rgba(30,93,170,1)));
      color: white;

      em {
        font-weight: bold;
        color: inherit;
      }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      color: white;
      em {
        color: inherit;
      }
    }
  }
}

