/* CodeMirror Theming */

.cm-s-june-night {
  background: #303333; color: white;
  span {
    &.cm-keyword    {color: #aaa; font-weight:bold;}
    &.cm-atom       {color: #bfebbf;}
    &.cm-number     {color: #DCDCCC;}
    &.cm-def        {color: #DCDCCC; font-weight: bold;}
    &.cm-variable   {color: #aee;}
    &.cm-variable-2 {color: #eec;}
    &.cm-variable-3 {color: #fff;}
    &.cm-property   {color: white;}
    &.cm-operator   {color: #F0EFD0;}
    &.cm-comment    {color: #7F9F7F; font-style: italic;}
    &.cm-string     {color: #CC9393;}
    &.cm-string-2   {color: #cc9393;}
    &.cm-meta       {color: #F0DFAF; font-weight:bold;}
    &.cm-error      {color: #f99; background: #633;}
    &.cm-qualifier  {color: #7cb8bb;}
    &.cm-builtin    {color: #DCDCCC;}
    &.cm-bracket    {color: #997;}
    &.cm-tag        {color: #93e0e3;}
    &.cm-attribute  {color: #DFAF8F;}
    &.cm-header     {color: #FFCC99;}
    &.cm-quote      {color: #090;}
    &.cm-hr         {color: #999;}
    &.cm-link       {color: #FFCC99;}
    &.cm-symbol     {color: #fff}

    &.cm-searching {
      background: none;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 2px;
    }

    &.cm-searching.searching-current {
      background: rgba(255, 255, 150, 1);
      border: none;
      padding: 1px;
      color:black !important;
    }

    /* Unorthodox styles */
    &.cm-fade {font-weight: normal; color: #777;}
  }

  div.CodeMirror-cursor {
    /* Override the skin setting */
    border-left: 1px solid white !important;
  }

  .CodeMirror-matchingbracket    {text-decoration: underline; color:white !important;}
  .CodeMirror-nonmatchingbracket {color: #f99; background: #900;}

  .CodeMirror-gutter {
    background: #272727 !important;
    border-right: 1px solid #000;
  }

  .CodeMirror-selected {
    background: rgba(255,255,255,0.07);
  }

}

/* Light Table stuff */
@import 'common';

.cm-s-june-night {
  .inline-result, .underline-result > pre {
    background: #404444;
    color: #DCDCCC;
    @include border(#222);
  }

  .inline-doc pre {
    color: #DCDCCC;
  }

  .inline-exception {
    & > pre, & > div {
      display:inline-block;
      background: #633;
      color: #dee;
      padding: 5px 10px 5px 10px;
      @include border(#400);

      a {
        color: #Ddd;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .inline-doc {
    background: #404444;
  }

  .inline-doc > pre, .underline-result > pre {
    color: #DCDCCC !important;
  }
}

/* Semantic Highlighting */

.cm-s-june-night {
  span {
      &.cm-hash-0 {color: #E2E2E2;}
      &.cm-hash-1 {color: #A1FFF7;}
      &.cm-hash-2 {color: #FFD4FF;}
      &.cm-hash-3 {color: #F6FEC3;}
      &.cm-hash-4 {color: #FFD6B3;}
      &.cm-hash-5 {color: #B7E9FF;}
      &.cm-hash-6 {color: #FFDBDC;}
      &.cm-hash-7 {color: #B6F0C6;}
      &.cm-hash-8 {color: #E5FFF7;}
      &.cm-hash-9 {color: #D2E0FF;}
      &.cm-hash-10 {color: #FFF3D9;}
      &.cm-hash-11 {color: #F6EBFF;}
      &.cm-hash-12 {color: #F3E2A9;}
      &.cm-hash-13 {color: #D6E8CC;}
      &.cm-hash-14 {color: #FFEBDF;}
      &.cm-hash-15 {color: #E2F5FF;}
      &.cm-hash-16 {color: #95F1FF;}
      &.cm-hash-17 {color: #FAFFF6;}
      &.cm-hash-18 {color: #C1F1E0;}
      &.cm-hash-19 {color: #FFD1C0;}
  }
}
